.task-line {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task-line:nth-child(odd) {
    background: #f9f9f9;
}

.task-line:hover {
    background: #ddd;
}

.task-line:hover img{
  opacity:1;
}

.task-line img{
  position:absolute;
  opacity: 0;
  width:20px;
}

.task-line.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.task-line.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.trash{
  top:10px;
  right:10px;
}

